@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

html,
body {
  background: #0055ff;
  background: linear-gradient(135deg, #0055ff 0%, #0033aa 50%, #001133 100%);
  min-height: 100vh;
}

body {
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
